<body>
    <div class="container">
        <div class="department-heading">
            TODO {{survey_model | json}}
            <form #survey_form="ngForm" >
                <div class="form-group">
                    <label for="username">First name:</label>
                    <input type="text" id="firstName" class="form-control" name="firstName" [(ngModel)]="survey_model.firstName" required>
                </div>
                <div class="form-group">
                    <label for="username">Last name:</label>
                    <input type="text" id="firstName" class="form-control" name="lastName" [(ngModel)]="survey_model.lastName"required>
                </div>

                <div class="form-group">
                    <label for="address">Street Address:</label>
                    <input type="text" id="address" class="form-control" name="address" [(ngModel)]="survey_model.address"required>
                </div>

                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" id="city" class="form-control" name="city" [(ngModel)]="survey_model.city" required>
                </div>

                <div class="form-group">
                    <label for="state">State:</label>
                    <input type="text" id="state" class="form-control" name="state" [(ngModel)]="survey_model.state" required>
                </div>

                <div class="form-group">
                    <label for="zip">Zip:</label>
                    <input type="text" id="zip" class="form-control" name= "zip" [(ngModel)]="survey_model.zip" required>
                </div>

                <div class="form-group">
                    <label for="telephone">Telephone Number:</label>
                    <input type="tel" id="telephone" class="form-control" name="telephone" [(ngModel)]="survey_model.telephone" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" class="form-control" name="email" [(ngModel)]="survey_model.email" required>
                </div>

                <div class="form-group">
                    <label for="date">Date of Survey:</label>
                    <input type="date" id="date" class="form-control" name="date" [(ngModel)]="survey_model.date" required>
                </div>

                <div class="form-group">
                    <label for="likes">What did you like most about the campus?</label><br>
                    <div class="checkbox" *ngFor="let likes of checkbox_likes; let i=index">
                        <label>
                            <input type="checkbox" 
                            [name]="likes" [(ngModel)]=survey_model.likes[i]
                            value="{{likes}}">
                            {{likes}}
                        </label>

                    </div>


                </div>

                <div class="form-group">
                    <label for="interest">How did you become interested in the university?</label><br>
                    <div *ngFor="let choice of radio_interests">
                        <input type="radio" id="{{choice}}" name="interest" [value]="choice" [(ngModel)]="survey_model.interest"
                            (ngModelChange)="choose($event)" />
                            <label class="toggle-button" for="{{choice}}">{{ " " + choice }}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="recommendation">Likelihood of Recommending this School:</label>
                    <select id="recommendation" class="form-control" name="recommend" [(ngModel)]="survey_model.recommend">
                        <option>Very Likely</option>
                        <option>Likely</option>
                        <option>Unlikely</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="comments">Additional Comments:</label>
                    <br/>
                    <textarea id="comments" name="comments" [(ngModel)]="survey_model.comments" class="form-control" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" (click)="survey_submit(survey_model)">  Submit</button>
                <button type="submit" class="btn btn-primary">Cancel</button>
            </form>
        </div>
    </div>
</body>